<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function mostrar_alerta(mensagem){
            alert(mensagem);
        }
    </script>
</head>
<body>
    <!-- seleciona o tipo de conta -->
   
    <!-- login normal -->
    <form action="/autenticar" method="POST">
        <select id="tipo_login" name="tipo_login" onchange="ajustarFormulario()">
            <option value="cliente">cliente</option>
            <option value="barber">Barbearia</option>
            <option value="admin">Administrador</option>
        </select>
        <input type="text" name="Email" placeholder="Email">
        <input type="password" name="Senha" placeholder="Senha">
        <input type="submit" value="Logar">
    </form>
    <a href="/cadastro">Cadastro</a>
    {% if login_falhou%}
    <script>
        const mensagem1 = "Login falhou";
        mostrar_alerta(mensagem1);
    </script>
    {%endif%}

    {% if pendente%}
    <script>
        const mensagem2 = "Sua conta está pendente, espera a confirmação de um administrador";
        mostrar_alerta(mensagem2);
    </script> 
    {%endif%}
    
    <ul>
        {% for cliente in lista %}
            <li>
                Nome: {{ cliente.nome }} <br>
                Email: {{ cliente.email }} <br>
                Senha: {{ cliente.senha }} <br>
                
                <hr>
            </li>
        {% endfor %}
    </ul>
    <h1>{{bar}}</h1>
</body>
</html>
